node_modules
**/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
dist
**/dist
.vite
**/.vite

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv

.git
.gitignore
.env
.env.*
data/*.sqlite
*.sqlite
*.sqlite3

.DS_Store
Thumbs.db
